@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
.banner_area{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: 1;
    color: #ffffff;
}
.banner_area:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:#000000c9;
    z-index: -1;
}
//======================sticky
nav{
    position: fixed;
    width: 100%;

}
nav ul li a{
    padding: 1.15rem 1.15rem;

}
nav.desktop-nav.sticky{
    background: #1a202c;
    position: fixed;
}
nav.desktop-nav.bottom{
    transition: 0.8s;
}
nav.desktop-nav.bottom .logo_area{
    margin-top: 0.5rem;
}

nav.desktop-nav.bottom .logo_area a img {
    width: 45%;
    transition: 0.8s;

}

nav.desktop-nav.bottom ul li a{
    padding: 1rem 1rem;
    transition: 0.8s;

}
nav.desktop-nav.sticky ul li a{
    padding: 1rem 1rem;
    transition: 0.8s;

}
nav.desktop-nav.bottom .nav_section .logIn_area .login_button{
    margin-top: 0.5rem;

}

nav.desktop-nav.sticky .logo_area a img {
    width: 38%;
    transition: 0.8s;

}
nav.desktop-nav.sticky .nav_section {
    padding: 5px 0;
    transition: 0.8s;
}
nav.desktop-nav.bottom .nav_section .logIn_area .login_button a {
    padding: 1rem 1.25rem;
    transition: 0.8s;
}
nav.desktop-nav.sticky .nav_section .logIn_area .login_button a{
    padding: 1rem 1rem;
    transition: 0.8s;

}
//======================sticky
nav.desktop-nav .logo_area a img {
    width: 45%;
}
.menu_area {
    display: inline-block;
    color: #F4B346;
    text-decoration: none;
}
.menu_area a.active{
    border-bottom: 2px solid #F4B346;
    transition: .5s;
}
.menu_area a{
    border-bottom:2px solid transparent ;
}
.menu_area a:hover{
    border-bottom:2px solid #F4B346;
    transition: .5s;
}
.heading_section p{
    padding: 0 25%;
}
/*===========2============*/
.section_area .features_heading p {
    padding: 0 300px;
}
/*=========3===========*/
.work_section{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: -9;
    color: #ffffff;
}
.work_section:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:#000000d6;
    z-index: -1;
}
/*==========*/
/* Tab content - closed */
.tab-content {
    max-height: 0;
    -webkit-transition: all ease-in-out 0.7s;
    -o-transition: all ease-in-out 0.7s;
    transition: all ease-in-out 0.7s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}
/* Label formatting when open */
.tab input:checked + label{
    /*!*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*!*/
    /*font-size: 1.25rem; !*.text-xl*!*/
    /*padding: 1.25rem; !*.p-5*!*/
    /*border-left-width: 2px; !*.border-l-2*!*/
    /*border-color: #6574cd; !*.border-indigo*!*/
    /*background-color: #f8fafc; !*.bg-gray-100 *!*/
    /*color: #6574cd; !*.text-indigo*!*/

}
/* Icon */
.tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all ease-in-out  0.7s;
    -o-transition: all ease-in-out  0.7s;
    transition: all ease-in-out  0.7s;
}
/* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
    content: "+";
    font-weight:bold; /*.font-bold*/
    /*border-width: 1px; !*.border*!*/
    /*border-radius: 9999px; !*.rounded-full *!*/
    /*border-color: #b8c2cc; !*.border-grey*!*/
}
.tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
}
/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    /*background-color: #6574cd; !*.bg-indigo*!*/
    /*color: #f8fafc; !*.text-grey-lightest*!*/
}
.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    /*background-color: #6574cd; !*.bg-indigo*!*/
    /*color: #f8fafc; !*.text-grey-lightest*!*/
}
.question_item:last-child {
    border-bottom: 2px solid #40786C;
}
footer{
    position: relative;
    z-index: 1;

}
footer .wave img {
    position: absolute;
    top: 127px;
    left: 0;
    z-index: -1;
    width: 100%;
}
.footer_area{
    background-image: url("img/footer_end.jpg");
    background-size: cover;
    background-position: center;
    position:relative;
    z-index: -9;
    color: #ffffff;
}
.footer_area:before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:#000000bd;
    z-index: -1;
}
//===============================responsive========================================-
.responsive-img a img {
    position: absolute;
    right: 0px;
    top: 4px;
    width: 30%;
    padding-top: 5px;
}
/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

    nav.desktop-nav.bottom ul li a{

        transition: 0.8s;
    }
    nav.desktop-nav.sticky ul li a{

        transition: 0.8s;
    }
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    nav.desktop-nav.bottom ul li a{

        transition: 0.8s;
    }
    nav.desktop-nav.sticky ul li a{

        transition: 0.8s;
    }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    nav.desktop-nav.bottom ul li a{

        transition: 0.8s;
    }
    nav.desktop-nav.sticky ul li a{
        transition: 0.8s;
    }
}
/* small mobile :320px. */
@media (max-width: 367px) {

    //humbergur menu
    nav.desktop-nav.sticky {
        background: none;
        transition: none;
    }



}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .banner_area:before{

        width: 100%;
        height: 100%;

    }
    //humbergur menu
    nav.desktop-nav.sticky {
        background: none;
        transition: none;
    }
}

//humburger-menu

$toggleSize: 25px;
$toggleMargin: 20px;
$toggleLine: 3px;
$toggleColor: #F4B346;

.nav-container {
    position: relative;
    display: inline-block;
    max-width: $toggleSize + $toggleMargin;
    max-height: $toggleSize + $toggleMargin;
    overflow: visible;
    outline: none;

    //&:focus-within, &:focus {
    &.is-active {
        .nav-toggle {
            &:before, &:after {
                box-shadow: none;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        .nav-items {
            transform: translate(0, 0);
        }
    }

    .nav-toggle {
        $offset: $toggleSize * 0.5;

        position: relative;
        width: $toggleSize;
        height: $toggleSize;
        margin: $toggleMargin;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            top: #{$offset - $toggleLine / 2};
            left: 0;
            transform: translate(0, 0);
            width: 100%;
            height: $toggleLine;
            background: $toggleColor;
            transition: transform .3s ease, box-shadow .3s ease;
        }

        &:before {
            box-shadow: 0 #{$offset / 1.5} 0 0 $toggleColor;
        }

        &:after {
            box-shadow: 0 #{-$offset / 1.5} 0 0 $toggleColor;
        }
    }

    .nav-items {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 300px;
        max-width: 50vw;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        padding: 80px 20px 20px 10px;
        transition: transform .3s ease;
        transform: translate(calc(-100% - 50px), 0);
        background: #1a202c;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px 0;
        align-content: start;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

        .nav-item {

            padding: 10px;
            color:$toggleColor;
            border-bottom: 1px solid $toggleColor;
            transition: 0.8s;
            text-align: center;

            &:hover {
                cursor: pointer;

            }
        }
    }
}
